// GV__HS
.btn--search {
    width: 40rem;
    position: relative;
    input {
        width: 100%;
    }
    button {
        position: absolute;
        width: 2.5rem;
        height: 2.5rem;
        right: 0;
        bottom: 50%;
        transform: translateY(50%);
        border: none;
        outline: none;
        background-color: transparent;
        font-size: $medium-font-size;
        @include radius-layout(50%, 50%, 50%, 50%);
        transition: all 0.2s linear;
        &:hover {
            color: #fff;
            background: $linear-color;
            cursor: pointer;
        }
    }
}

.btn{
    button{
        border: none;
        border: none;
        height: 100%;
        min-width: 6rem;
        font-size: $medium-font-size;
        font-weight: $extra-bold-font-weight;
        text-align: center;
        color: $title-color;
        background: transparent;
        cursor: pointer;
        transition: all .2s linear;
        @include shadow();
        @include radius-layout();
        @include bordered(1px, transparent);
        &:hover{
            @include bordered(1px, $light-color);
            color: $light-color;
            background: $linear-color-hover;
        }
        i{
            font-size: $large-font-size;
            line-height: 2.5rem;
        }
    }
}

.checkbox {
    display: inline-block;
    position: relative;
    cursor: pointer;
    font-size: $medium-font-size;
    user-select: none;
    padding-left: 40px;
    margin-bottom: 10px;
    z-index: 1;
    input {
        position: absolute;
        opacity: -50%;
        cursor: pointer;
        height: 0;
        width: 0;
        
        &:checked ~ .checkmark {
            background: $linear-color;
        }
        
        &:checked ~ .checkmark:after {
            display: block;
        }
    }
    
    .checkmark {
        @include bordered(1px, #ccc);
        position: absolute;
        top: -50%;
        left: 0;
        width: 30px;
        height: 30px;
        background: #eee;
        border-radius: 3px;

        &:after {
            content: "";
            position: absolute;
            display: none;
        }
    }

    &:hover .checkmark {
        background: #ccc;
    }

    .checkmark:after {
        top: 50%;
        left: 50%;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        transform: translate(-50%, -50%) rotate(45deg);
    }
}

// edit bang diem => giao vien -> bang diem
.edit__diem{
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    transition: all linear 0.2;
    i{
        font-size: $large-font-size;
    }
    &:hover{
        opacity: 0.6;
    }
}

#close__modal{
    border: none;
    font-size: $large-font-size;
    @include radius-layout(6px, 6px, 6px, 6px);
    transition: all .2s linear;

    &:hover{
        color: $light-color;
        background-color: red;
        cursor: pointer;
    }
}




