.table__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
    &--title {
        font-size: $large-font-size;
        color: $title-color;
    }
}
table {
    width: 100%;
    background-color: $light-color;
    @include radius-layout();
    overflow: auto;
    th,
    td {
        padding: 1.1rem 2rem;
        text-align: left;
    }
    thead {
        position: sticky;
        top: 0;
        z-index: 100;
        tr {
            background: $text-color;
            color: $title-color;
            font-size: $medium-font-size;
            font-weight: $extra-bold-font-weight;
            z-index: 100;
            th:first-of-type {
                @include radius-layout(12px, 0, 0, 0);
            }
            th:last-of-type {
                @include radius-layout(0, 12px, 0, 0);
            }
        }
    }
    tbody {
        tr {
            @include bordered(1px, #ccc);
            transition: all 0.1s linear;
            td {
                font-size: $medium-font-size;
            }
            &:hover {
                background-color: rgb(224, 222, 222);
            }
        }
        tr:nth-of-type(2n) {
            background-color: rgba(231, 231, 231, 0.301);
        }
    }
}
.sticky {
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 65vh;
    @include radius-layout();
    @include shadow();
}
.table__HS--DSHS, .table {
    .sticky {
        overflow: auto;
        max-height: 60vh;
        @include radius-layout();
        @include shadow();
    }
}
