@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
}

.container-full {
  display: grid;
  grid-template-columns: 15% 1fr 1fr;
  grid-template-rows: 6rem 1fr 1fr;
  grid-template-areas: "nav header header header" "nav main main main" "nav main main main";
  background-color: #f1f6f3;
  grid-gap: 2rem;
}

.header {
  grid-area: header;
}

.nav {
  grid-area: nav;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}

.img__table {
  padding: 1.2rem 0 0 0;
}
.img__table img {
  object-fit: cover;
  height: 5rem;
  width: 4rem;
  border-radius: 1.2rem 1.2rem 1.2rem 1.2rem;
}

.w28 {
  width: 28rem;
}

.w20 {
  width: 20rem;
}

.w24 {
  width: 24rem;
}

.w12 {
  width: 12rem;
}

.w14 {
  width: 14rem;
}

.w8 {
  width: 8rem;
}

.w34p {
  width: 35%;
}

.w80p {
  width: 80%;
}

.form__edit {
  background-color: rgba(250, 250, 250, 0.897);
  border-radius: 12px 12px 12px 12px;
  box-shadow: 2px 2px 1rem rgba(0, 0, 0, 0.1);
}
.form__edit .edit--profile {
  margin: 1.2rem 0;
  padding: 5px;
  display: grid;
  grid-template-columns: 20rem 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 4rem 4rem 4rem;
  grid-gap: 1.2rem;
  grid-template-areas: "img key name name birthday gender" "img phone email email address address " "img note note btn btn btn";
  font-size: 16px;
}
.form__edit .edit--profile .key {
  grid-area: key;
}
.form__edit .edit--profile .key input {
  width: 54%;
}
.form__edit .edit--profile .name {
  grid-area: name;
}
.form__edit .edit--profile .name input {
  width: 76%;
}
.form__edit .edit--profile .birthday {
  grid-area: birthday;
}
.form__edit .edit--profile .birthday input {
  width: 60%;
}
.form__edit .edit--profile .gender {
  grid-area: gender;
}
.form__edit .edit--profile .phone {
  grid-area: phone;
}
.form__edit .edit--profile .phone input {
  width: 60%;
}
.form__edit .edit--profile .email, .form__edit .edit--profile .phuhuynh {
  grid-area: email;
}
.form__edit .edit--profile .email input, .form__edit .edit--profile .phuhuynh input {
  width: 87%;
}
.form__edit .edit--profile .email select, .form__edit .edit--profile .phuhuynh select {
  width: 78%;
}
.form__edit .edit--profile .address {
  grid-area: address;
}
.form__edit .edit--profile .address input {
  width: 85%;
}
.form__edit .edit--profile .note, .form__edit .edit--profile .cv-note {
  grid-area: note;
}
.form__edit .edit--profile .note input, .form__edit .edit--profile .cv-note input {
  width: 80%;
}
.form__edit .edit--profile .image-profile {
  grid-area: img;
}
.form__edit .edit--profile .image-profile img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 1.2rem 1.2rem 1.2rem 1.2rem;
  box-shadow: 2px 2px 1rem rgba(0, 0, 0, 0.1);
}
.form__edit .edit--profile .form__edit--btnGroup {
  grid-area: btn;
}
.form__edit .form__edit--btnGroup {
  display: flex;
}
.form__edit .form__edit--btnGroup .btn {
  margin-right: 2rem;
}
.form__edit .form__edit--btnGroup .btn button {
  background-color: #fff;
  height: 3rem;
}

.btn--search {
  width: 40rem;
  position: relative;
}
.btn--search input {
  width: 100%;
}
.btn--search button {
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  right: 0;
  bottom: 50%;
  transform: translateY(50%);
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 16px;
  border-radius: 50% 50% 50% 50%;
  transition: all 0.2s linear;
}
.btn--search button:hover {
  color: #fff;
  background: linear-gradient(to bottom, #8C4AF2, #0F22FD);
  cursor: pointer;
}

.btn button {
  border: none;
  border: none;
  height: 100%;
  min-width: 6rem;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  color: #484860;
  background: transparent;
  cursor: pointer;
  transition: all 0.2s linear;
  box-shadow: 2px 2px 1rem rgba(0, 0, 0, 0.1);
  border-radius: 12px 12px 12px 12px;
  border: 1px solid transparent;
}
.btn button:hover {
  border: 1px solid #fff;
  color: #fff;
  background: linear-gradient(to bottom, #9d68ee, #515ffd);
}
.btn button i {
  font-size: 24px;
  line-height: 2.5rem;
}

.checkbox {
  display: inline-block;
  position: relative;
  cursor: pointer;
  font-size: 16px;
  user-select: none;
  padding-left: 40px;
  margin-bottom: 10px;
  z-index: 1;
}
.checkbox input {
  position: absolute;
  opacity: -50%;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkbox input:checked ~ .checkmark {
  background: linear-gradient(to bottom, #8C4AF2, #0F22FD);
}
.checkbox input:checked ~ .checkmark:after {
  display: block;
}
.checkbox .checkmark {
  border: 1px solid #ccc;
  position: absolute;
  top: -50%;
  left: 0;
  width: 30px;
  height: 30px;
  background: #eee;
  border-radius: 3px;
}
.checkbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.checkbox:hover .checkmark {
  background: #ccc;
}
.checkbox .checkmark:after {
  top: 50%;
  left: 50%;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: translate(-50%, -50%) rotate(45deg);
}

.edit__diem {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  transition: all linear 0.2;
}
.edit__diem i {
  font-size: 24px;
}
.edit__diem:hover {
  opacity: 0.6;
}

#close__modal {
  border: none;
  font-size: 24px;
  border-radius: 6px 6px 6px 6px;
  transition: all 0.2s linear;
}
#close__modal:hover {
  color: #fff;
  background-color: red;
  cursor: pointer;
}

.upload-image input::before {
  content: "Chọn file";
  line-height: 3rem;
  width: 100%;
  height: 100%;
  background-color: #fff;
  font-size: 16px;
  text-align: center;
  position: absolute;
}
.upload-image input {
  height: 3rem;
  width: 12rem;
  position: relative;
  border: none;
  border-radius: 12px 12px 12px 12px;
  transition: all 0.2s linear;
  border-radius: 12px 12px 12px 12px;
  box-shadow: 2px 2px 1rem rgba(0, 0, 0, 0.1);
  border: 1px solid transparent;
}
.upload-image input:focus {
  border: 1px solid #8c4af2;
}
.upload-image input:hover {
  cursor: pointer;
  box-shadow: 0px 0px 0.5rem rgba(137, 120, 161, 0.692);
}

.input label:hover {
  cursor: pointer;
}
.input input {
  border: none;
  outline: none;
  height: 3rem;
  font-size: 16px;
  transition: all 0.2s linear;
  border-radius: 12px 12px 12px 12px;
  box-shadow: 2px 2px 1rem rgba(0, 0, 0, 0.1);
  border: 1px solid transparent;
}
.input input:focus {
  border: 1px solid #8c4af2;
}
.input input:hover {
  cursor: pointer;
  box-shadow: 0px 0px 0.5rem rgba(137, 120, 161, 0.692);
}

.input--diem input {
  width: 10rem;
}

textarea {
  vertical-align: top;
  border: none;
  outline: none;
  font-size: 16px;
  transition: all 0.2s linear;
  transition: all 0.2s linear;
  border-radius: 12px 12px 12px 12px;
  box-shadow: 2px 2px 1rem rgba(0, 0, 0, 0.1);
  border: 1px solid transparent;
}
textarea:focus {
  border: 1px solid #8c4af2;
}
textarea:hover {
  cursor: pointer;
  box-shadow: 0px 0px 0.5rem rgba(137, 120, 161, 0.692);
}

.table__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
}
.table__header--title {
  font-size: 24px;
  color: #484860;
}

table {
  width: 100%;
  background-color: #fff;
  border-radius: 12px 12px 12px 12px;
  overflow: auto;
}
table th,
table td {
  padding: 1.1rem 2rem;
  text-align: left;
}
table thead {
  position: sticky;
  top: 0;
  z-index: 100;
}
table thead tr {
  background: #9B9AD9;
  color: #484860;
  font-size: 16px;
  font-weight: 500;
  z-index: 100;
}
table thead tr th:first-of-type {
  border-radius: 12px 0 0 0;
}
table thead tr th:last-of-type {
  border-radius: 0 12px 0 0;
}
table tbody tr {
  border: 1px solid #ccc;
  transition: all 0.1s linear;
}
table tbody tr td {
  font-size: 16px;
}
table tbody tr:hover {
  background-color: #e0dede;
}
table tbody tr:nth-of-type(2n) {
  background-color: rgba(231, 231, 231, 0.301);
}

.sticky {
  overflow: auto;
  max-height: 65vh;
  border-radius: 12px 12px 12px 12px;
  box-shadow: 2px 2px 1rem rgba(0, 0, 0, 0.1);
}

.table__HS--DSHS .sticky, .table .sticky {
  overflow: auto;
  max-height: 60vh;
  border-radius: 12px 12px 12px 12px;
  box-shadow: 2px 2px 1rem rgba(0, 0, 0, 0.1);
}

.select label {
  font-size: 16px;
  margin-right: 1rem;
}
.select select {
  border-radius: 12px 12px 12px 12px;
  border: none;
  height: 3rem;
  min-width: 8rem;
  font-size: 16px;
  text-align: center;
  box-shadow: 2px 2px 1rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.select select:hover {
  cursor: pointer;
  box-shadow: 0px 0px 0.5rem rgba(137, 120, 161, 0.692);
}
.select select:focus {
  border: 1px solid #8c4af2;
}
.select option {
  border: none;
}

.header {
  width: calc(100% - 2rem);
  height: 100%;
  background-color: #fff;
  border-radius: 12px 12px 12px 12px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.header__name--role {
  font-size: 24px;
  padding-left: 2rem;
}
.header__profile {
  min-width: 20%;
  padding-right: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
.header__profile .profile--avata {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: red;
}
.header__profile .profile--name {
  font-size: 16px;
  margin-left: 2rem;
}

.nav {
  height: 100vh;
  background-image: linear-gradient(to bottom, #8C4AF2, #0F22FD);
  border-radius: 0 2rem 2rem 0;
  padding: 0 0 0 3.2rem;
}
.nav__logo {
  height: 15rem;
  margin: 4.8rem 3.2rem 2rem 0;
  background-color: #fff;
  border-radius: 12px 12px 12px 12px;
}
.nav__logo img {
  width: 100%;
  height: inherit;
  border-radius: 12px 12px 12px 12px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0;
}
.nav__navbar {
  height: calc(100% - 22rem);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  line-height: 16px;
}
.nav__navbar ul {
  flex-direction: column;
}
.nav__navbar ul li {
  font-size: 16px;
  padding: 1rem 0;
  font-weight: 500;
}
.nav__navbar ul li a {
  color: #f1f6f3;
  text-decoration: none;
  padding: 0.5rem 0 0.5rem 0.5rem;
  border-radius: 12px 0 0 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.nav__navbar ul li a i {
  font-size: 18px;
  padding-right: 2.4rem;
}
.nav__navbar ul li :hover {
  color: #8c4af2;
  background-color: #f1f6f3;
  transition: all 0.15s linear 0s;
  border-radius: 12px 0 0 12px;
  font-size: 18px;
  font-weight: 600;
}
.nav__navbar ul:last-child li {
  margin-bottom: 2.4rem;
}

.main {
  width: calc(100% - 2rem);
}

.GiaoVien__HS .table__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.GiaoVien__HS .table__header .table--diem {
  background-color: red;
}
.GiaoVien__HS .table__header--caption {
  line-height: 3rem;
}
.GiaoVien__HS .table__header--caption h3 {
  font-size: 24px;
  color: #9B9AD9;
}
.GiaoVien__HS .table__header--btn {
  width: 60%;
  display: grid;
  grid-template-columns: 1fr 20% 20% 20%;
  grid-template-rows: 3rem;
  grid-gap: 1rem;
  text-align: center;
  cursor: pointer;
}
.GiaoVien__HS .checkbox__diemDanh {
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
}
.GiaoVien__HS .edit__hs {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 2rem 0;
}
.GiaoVien__HS .edit__hs--tenhs {
  width: 29%;
}
.GiaoVien__HS .edit__hs--tenhs input {
  width: 73%;
}
.GiaoVien__HS .edit__hs--info {
  width: 100%;
  display: flex;
  gap: 2rem;
}
.GiaoVien__HS .edit__hs--info .input label {
  font-size: 16px;
}
.GiaoVien__HS .edit__hs--diem {
  display: flex;
  margin: 2rem 0;
}
.GiaoVien__HS .edit__hs--diem .input label {
  font-size: 16px;
}
.GiaoVien__HS .edit__hs--diem .input:hover {
  cursor: pointer;
  opacity: 0.8;
}
.GiaoVien__HS .edit__hs--diem .input + .input {
  padding-left: 3rem;
}

.diemky2, .diemtb {
  margin-top: 1.2rem;
}

.diemtb {
  display: flex;
  line-height: 3.6rem;
  margin-right: 6rem;
}
.diemtb h3 {
  font-size: 24px;
  color: red;
}

.container__pheduyet {
  width: 100%;
  height: 90vh;
}
.container__pheduyet .pheduyet__header {
  display: flex;
  align-items: center;
}
.container__pheduyet .pheduyet__header--nguoigui, .container__pheduyet .pheduyet__header--thoigian {
  display: flex;
  font-size: 16px;
  margin: 0 2rem 2rem 0;
}
.container__pheduyet .pheduyet__header--nguoigui h3, .container__pheduyet .pheduyet__header--thoigian h3 {
  color: red;
}
.container__pheduyet .pheduyet__content textarea {
  width: 99%;
}
.container__pheduyet .pheduyet__footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 2rem 1rem 2rem 0;
}
.container__pheduyet .pheduyet__footer button {
  background-color: #fff;
  margin-left: 2rem;
  font-size: 16px;
  padding: 0.8rem;
}

.sticky__gvu--pheduyet {
  overflow: auto;
  max-height: 25vh;
  border-radius: 12px 12px 12px 12px;
  box-shadow: 2px 2px 1rem rgba(0, 0, 0, 0.1);
}

.form__edit .edit--profile .cv-note {
  display: flex;
}
.form__edit .edit--profile .cv-note input {
  width: 70%;
}
.form__edit .edit--profile .cv-note .note-chucvu {
  margin-right: 2rem;
}

.qly-lop {
  margin: 1.2rem 0;
  padding: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr 14rem 1fr 1fr 1fr;
  grid-template-rows: 4rem 4rem;
  grid-gap: 1.2rem;
  grid-template-areas: "key name khoi year gvien gvu" "btn btn btn btng btng btng";
  font-size: 16px;
}
.qly-lop .key-class {
  grid-area: key;
}
.qly-lop .name-class {
  grid-area: name;
}
.qly-lop .khoi {
  grid-area: khoi;
}
.qly-lop .year-class {
  grid-area: year;
}
.qly-lop .gvien-class {
  grid-area: gvien;
}
.qly-lop .gvien-class input {
  width: 60%;
}
.qly-lop .gvu-class {
  grid-area: gvu;
}
.qly-lop .gvu-class input {
  width: 60%;
}
.qly-lop .btng {
  grid-area: btng;
  display: flex;
  justify-content: flex-end;
  padding-right: 2rem;
}

.container--phhs {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}
.container--phhs .about--title {
  font-size: 16px;
  text-align: center;
  padding-top: 2rem;
}
.container--phhs .info--name,
.container--phhs .about--name {
  font-size: 24px;
  text-align: center;
  padding: 2rem 0;
  background-image: linear-gradient(to bottom, #8C4AF2, #0F22FD);
  display: inline-block;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  display: block;
}
.container--phhs .info--image {
  width: 18%;
  margin-right: 1rem;
}
.container--phhs .info--image img {
  object-fit: cover;
  width: 100%;
}
.container--phhs .info {
  width: 50%;
}
.container--phhs .info--about {
  width: 30%;
}
.container--phhs .info-text {
  display: flex;
  padding: 1.2rem 0;
}
.container--phhs .info-text span {
  width: 10rem;
  color: #686868;
}
.container--phhs .info-text h4 {
  width: 85%;
}
.container--phhs .info-text span,
.container--phhs .info-text h3,
.container--phhs .info-text h4 {
  font-size: 16px;
}

.info--diem {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.info--diem .name,
.info--diem .class,
.info--diem .year,
.info--diem .mark {
  display: flex;
  padding: 1.2rem 0;
  margin-right: 2rem;
}
.info--diem .name span,
.info--diem .class span,
.info--diem .year span,
.info--diem .mark span {
  width: 13rem;
  color: #686868;
}
.info--diem .name span,
.info--diem .name h3,
.info--diem .class span,
.info--diem .class h3,
.info--diem .year span,
.info--diem .year h3,
.info--diem .mark span,
.info--diem .mark h3 {
  font-size: 16px;
}
.info--diem .mark h3 {
  color: red;
}

.modal_container {
  background-color: rgba(0, 0, 0, 0.3);
  justify-content: center;
  align-items: center;
  position: fixed;
  display: none;
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.modal_container.show {
  display: flex;
  pointer-events: auto;
}

.modal {
  background-color: whitesmoke;
  border-radius: 12px 12px 12px 12px;
  box-shadow: 2px 2px 1rem rgba(0, 0, 0, 0.1);
  padding: 3rem 5rem;
  width: 60vw;
  max-width: 100%;
  position: relative;
}
.modal #close__modal {
  position: absolute;
  top: 0;
  right: 0;
}

.popup {
  margin: 0 auto;
  width: 1577px;
  margin-bottom: 1rem;
}
.popup__main {
  padding-top: 1rem;
}
.popup__main--info {
  display: flex;
  justify-content: flex-start;
}
.popup__main--info .info__img {
  width: 20rem;
  height: 30rem;
  margin-right: 2rem;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  box-shadow: 2px 2px 1rem rgba(0, 0, 0, 0.1);
  border-radius: 12px 12px 12px 12px;
}
.popup__main--info .info__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}
.popup__main--info .textbox {
  display: flex;
  justify-content: flex-start;
  background-color: #fff;
  border-radius: 12px 12px 12px 12px;
  box-shadow: 2px 2px 1rem rgba(0, 0, 0, 0.1);
}
.popup__main--info .textbox__profile {
  padding: 2rem 0 0 2rem;
}
.popup__main--info .textbox__profile .profile {
  width: 55rem;
  margin-bottom: 2rem;
}
.popup__main--info .textbox__profile .profile .info--title {
  width: 12rem;
  font-size: 16px;
  display: inline-block;
}
.popup__main--info .textbox__profile .profile input {
  width: 70%;
}
.popup__main--info .textbox__profile .profile textarea {
  width: 75%;
}
.popup__main--info .textbox__profile .profile--class input {
  width: 25%;
}
.popup__main--info .textbox__profile .birthdayVSgendar {
  display: flex;
  justify-content: space-between;
}
.popup__main--info .textbox__profile .birthdayVSgendar .profile--gendar {
  margin-right: 2.3rem;
}
.popup__main--info .textbox__profile .birthdayVSgendar .profile--birthday {
  width: 60%;
}
.popup__main--info .textbox__profile .birthdayVSgendar .profile--birthday input {
  width: 55%;
}
.popup__main--info .textbox__area {
  background-color: #fff;
  margin-left: 2rem;
  padding: 2rem 2rem 0 2rem;
  border-radius: 12px 12px 12px 12px;
  box-shadow: 2px 2px 1rem rgba(0, 0, 0, 0.1);
}
.popup__main--info .textbox__area .info--area {
  width: 12rem;
  font-size: 16px;
  display: inline-block;
}
.popup__main--info .textbox__area textarea {
  margin-bottom: 2rem;
}
.popup__main--info .textbox__edit {
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
}
.popup__main--info .textbox__edit .mark {
  margin: 0 4rem 2rem 0;
}
.popup__main--info .textbox__edit .mark > label {
  width: 9rem;
  display: inline-block;
}
.popup__main--info .textbox__edit .mark--kt,
.popup__main--info .textbox__edit .mark--k1,
.popup__main--info .textbox__edit .mark--k2 {
  font-size: 16px;
}
.popup__main--info .textbox__edit .mark--kt input,
.popup__main--info .textbox__edit .mark--k1 input,
.popup__main--info .textbox__edit .mark--k2 input {
  width: 10rem;
}
.popup__main--info .textbox__edit .mark--k1,
.popup__main--info .textbox__edit .mark--k2 {
  display: flex;
  justify-content: flex-start;
}
.popup__main--info .textbox__edit .mark--tbcn {
  font-size: 16px;
}
.popup__main--info .textbox__edit .mark--tbcn label + label {
  margin-left: 4rem;
  font-size: 24px;
  font-weight: 500;
}

/*# sourceMappingURL=style.css.map */
