<div class="GiaoVien__HS">
    
        <div class="table__header">
            <div class="table__header--caption title">
                <h3>Danh sách học sinh</h3>
            </div>
            
            <div class="table__header--btn">
                <!-- ---search btn -->
                <div class="table--search search">
                    <input type="search" name="" placeholder="Tim kiem">
                    <button><i class='bx bx-search'></i></button>
                </div>
                <!-- sort btn -->
                <div class="table__sort select">
                    <label for="">Sắp xếp: </label>
                    <select name="" id="">
                        <option value="1">Asc</option>
                        <option value="2">Desc</option>
                    </select>
                </div>
            
                <!-- khoi -->
                <div class="table__filter--khoi select">
                    <label for="">Khối:</label>
                    <select name="" id="">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
            
                <!-- lop -->
                <div class="table__filter--lop select">
                    <label for="">Lớp:</label>
                    <select name="" id="">
                        <option value="1">A1</option>
                        <option value="2">A2</option>
                        <option value="3">A3</option>
                    </select>
                </div>
            </div>
        </div>
    
    <!-- -------Table------ -->
    <div class="table__HS">
        <div class="sticky">
            <table>
                <thead>
                    <tr>
                        <th>Mã học sinh</th>
                        <th>Tên học sinh</th>
                        <th>Ngày sinh</th>
                        <th>Giới tính</th>
                        <th>Địa chỉ</th>
                        <th>khối</th>
                        <th>Lớp</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="student in students | filter:seachText">
                        <td>{{student.maHS}}</td>
                        <td>{{student.tenHS}}</td>
                        <td>{{student.ngaySinh}}</td>
                        <td>{{student.gioiTinh}}</td>
                        <td>{{student.diachi}}</td>
                        <!-- <td>1{{student.maPH}}</td>
                        <td>A1{{student.maPH}}</td> -->
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>
