<div class="info--diem">
    <div class="name info-text">
        <span>Tên học sinh: </span>
        <h3>{{info_students.students.tenHS}}</h3>
    </div>
    <div class="class info-text">
        <span>Lớp: </span>
        <h3>{{info_students.assignment.classroom.tenLop}}</h3>
    </div>
    <div class="year info-text">
        <span>Năm học</span>
        <h3>{{info_students.assignment.classroom.year | date:'yyyy/MM/dd'}}</h3>
    </div>
    <div class="mark info-text">
        <span>Điểm cả năm:</span>
        <h3>{{DiemTBHS}}</h3>
    </div>
    <div class="btn dowloadHS">
        <button class="w8"><i class='bx bxs-download'></i></button>
    </div>
</div>
<!-- -------Table------ -->
<div class="table__HS">
    <div class="sticky">
        <table>
            <thead>
                <tr>
                    <th class="w14">Môn học</th>
                    <th>Kiểm tra</th>
                    <th>Giữa kỳ I</th>
                    <th>Cuối kỳ I</th>
                    <th>Giữa kỳ II</th>
                    <th>Cuối kỳ II</th>
                    <th>Trung bình</th>
                    <th class="w24">Giáo viên</th>
                    <th class="w12">Điện thoại</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="result in results | filter:seachText">
                    <td>{{result.assignment.subjects.tenMon}}</td>
                    <td>{{result.diemKT}}</td>
                    <td>{{result.diemGiuak1}}</td>
                    <td>{{result.diemCuoik1}}</td>
                    <td>{{result.diemGiuak2}}</td>
                    <td>{{result.diemCuoik2}}</td>
                    <td>{{(result.diemKT + ((result.diemGiuak1+result.diemCuoik1)/2) + ((result.diemGiuak2+result.diemCuoik2)/2))/3}}</td>
                    <td>{{result.assignment.teachers.tenGV}}</td>
                    <td>{{result.assignment.teachers.sdt}}</td>
                </tr>
                <!-- <tr>
                    <td>Tiếng Việt</td>
                    <td>7</td>
                    <td>8</td>
                    <td>9</td>
                    <td>10</td>
                    <td>9</td>
                    <td>9</td>
                    <td>Nguyễn Thị Diểm My My My My</td>
                    <td>0123456789990</td>
                </tr> -->
            </tbody>
        </table>
    </div>
</div>
