<div class="container--phhs">
    <div class="info--image">
        <img ng-src="./assets/images/Images/{{students.data.hinh}}""
            alt="{{students.data.hinh}}"/>
    </div>
    <div class="info">
        <div class="info--name"><h3>{{students.data.tenHS}}</h3></div>
        <div class="info--brith-gender">
            <div class="brith info-text">
                <span>Ngày sinh:</span>
                <h3>{{students.data.ngaySinh}}</h3>
            </div>
            <div class="gender info-text">
                <span>Giới tính:</span>
                <h3>{{students.data.gioiTinh?'Nam':'Nữ'}}</h3>
            </div> 
        </div>
        <div class="info--class info-text">
            <span>Lớp</span>
            <h3>{{students.data.subclass.classroom.tenLop}}</h3>
        </div>
        <div class="info--gvcn info-text">
            <span>Chủ nhiệm:</span>
            <h3>{{students.data.subclass.classroom.teachers.tenGV}}</h3>
        </div>
        <div class="info--year info-text">
            <span>Năm học:</span>
            <h3>{{students.data.subclass.classroom.year}}</h3>
        </div>
        <div class="info--address info-text">
            <span>Địa chỉ:</span>
            <h4>{{students.data.diaChi}}</h4>
        </div>

    </div>
    <div class="info--about">
        <div class="about--title">
            <h2>Người giám hộ</h2>
        </div>
        <div class="about--name">
            <h3>{{students.data.parents.tenPH}}</h3>
        </div>
        <div class="about--phone info-text">
            <span>Điện thọai:</span>
            <h3>{{students.data.sdtphuHuynh}}</h3>
        </div>
        <div class="about--email info-text">
            <span>Mối quan hệ:</span>
            <h3>{{students.data.parents.quanHe}}</h3>
        </div>
    </div>
</div>