<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body ng-app="app" ng-controller="app-Ctrl">
  <div>
    <label for="">Tk</label>
    <input type="text" ng-model="maGV">
    <label for="">Otp: {{radom}}</label>
    <input type="text" ng-model="sdt">
    <button ng-click="login()">Login</button>
  </div>

  <table>
    <tr>
      <th>Mã GV</th>
      <th>sdt</th>
    </tr>
    <tr data-ng-repeat="a in teacher">
      <td>{{a.maGV}}</td>
      <td>{{a.sdt}}</td>
      <td></td>
    </tr>
  </table>

  <script>
    var app = angular.module('app', []);
    app.controller('app-Ctrl', function ($scope, $http) {
      $scope.radom = Math.floor(100000 + Math.random() * 900000)
      $scope.teacher = [];

      $scope.loading = function () {
        $http.get('http://localhost:8081/api/vi/Teachers/getAllTeachers').then(function (resp) {
        $scope.teacher = resp.data;
        })
      }

      $scope.loading()
      

      $scope.login = function() {
        var magv = $scope.maGV;
        var sdt = $scope.sdt;
        $scope.loading();
        
        $scope.teacher.forEach(function(teacher) {
          if(magv == teacher.maGV && sdt == teacher.sdt) {
            alert("ok")
          }
        })
        // for (var a of $scope.teacher) {
        //   if(magv == a.sdt && sdt == $scope.radom) {
        //     alert("ok")
        //   }
        // }
      }

    })
  </script>
</body>
</html>