.container__home {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f1f6f3;
    font-family: 'IBM Plex Sans', sans-serif;
    word-spacing: 3px;

    .info__title {
        h2 {
            text-transform: uppercase;
            font-size: $extra-large-font-size;
            font-weight: $extra-bold-font-weight;
            color: #fff;
            background-color: #45B4F5;
            border-radius: 1.2rem 1.2rem 0 0;
            padding: 2px 2rem;
        }
    }
    
    .text--content {
        font-size: $medium-font-size;
    }

    .home__header {
        width: 100%;
        display: flex;
        flex-direction: column;

        .header--top {
            font-size: $medium-font-size;
            padding: 5px;
            background-color: #ccc;
            a {
                text-decoration: none;
                padding: 2px 0 2px 4rem;
                margin-right: 2rem;
                color: #000;

                transition: all 0.2 linear;
                position: relative;

                &:hover {
                    color: #4160E8;
                    font-weight: $extra-bold-font-weight;
                }
                .top--icon {
                    color: red;
                    font-size: $large-font-size;

                    position: absolute;
                    top: 5%;
                    left: 0;
                    transform: translateY(-5%);
                }
            }
        }

        .header--nav {
            // max-height: 8rem;
            background: #45B4F5;
            margin: 0.6rem 0;
            nav {
                .container-fluid {
                    img {
                        object-fit: cover;
                        max-height: 9rem;
                        width:14rem;
                        @include radius-layout();
                    }
                }
                font-size: $large-font-size;
                font-weight: $extra-bold-font-weight;
                ul {
                    li {
                        margin-right: 5rem;
                        a {
                            color: #fff;
                        }
                    }
                }
            }
        }

        .header--image {
            img {
                max-height: 80vh;
                max-width: 85vw;
                margin: 0 auto;
                @include radius-layout();
            }
        }
    }
    .home__body {
        width: 70%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "dtao dtao dtao dtao"
            "dtao dtao dtao dtao"
            "loiich loiich loiich banner"
            "loiich loiich loiich banner"
            "tlieu tlieu tlieu banner"
            "tlieu tlieu tlieu banner"
            "tlieu tlieu tlieu banner"
            "dchi dchi dchi dchi"
            "dchi dchi dchi dchi";
        .banner {
            grid-area: banner;
            margin: 1rem 0;
            padding: 0 0 0 1.6rem;
            @include radius-layout();
            img {
                object-fit: cover;
                width: 100%;
                @include radius-layout();
                @include shadow();
            }
        }
        .info__daotao {
            grid-area: dtao;
            
            margin: 1rem 0;
            padding: 1.2rem;
            background-color: #fff;
            
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: auto;
            grid-gap: 1.6rem;
            grid-template-areas:
                "text text text lop1"
                "lop2 lop3 lop4 lop5";

            @include shadow();
            @include radius-layout();
            &--text {
                h2{
                    background-color: transparent;
                    color: #45B4F5;
                }
                grid-area: text;
                p {
                    font-size: $large-font-size;
                    overflow: hidden;
                }
            }
            &--lop1 {
                grid-area: lop1;
            }
            &--lop2 {
                grid-area: lop2;
            }
            &--lop3 {
                grid-area: lop3;
            }
            &--lop4 {
                grid-area: lop4;
            }
            &--lop5 {
                grid-area: lop5;
            }

            .info__daotao--1,
            .info__daotao--2,
            .info__daotao--3,
            .info__daotao--4,
            .info__daotao--5 {
                position: relative;
                img {
                    object-fit: cover;
                    width: 100%;
                    max-height: 22rem;
                    z-index: 0;
                }
                span {
                    position: absolute;
                    z-index: 1;
                    left: 50%;
                    bottom: 10%;
                    color: #fff;
                    font-size: $large-font-size;
                    font-weight: $bold-font-weight;
                    transform: translate(-50%, -10%);
                }
            }
        }
        .info__loiich {
            grid-area: loiich;
            background-color: #fff;
            @include radius-layout();
            @include shadow();
            margin: 1rem 0;
            &--title {
                h2 {
                    text-transform: uppercase;
                    font-size: $extra-large-font-size;
                    font-weight: $extra-bold-font-weight;
                    color: #8c4af2;
                    background-color: #ccc;
                    border-radius: 1.2rem 1.2rem 0 0;
                    padding: 2px 2rem;
                }
            }
            .info__loiich--image {
                margin: 1.2rem 0;
                width: 100%;
                display: grid;
                justify-content: center;
                img {
                    object-fit: top;
                    padding: 0 2rem;
                }
            }
            p {
                font-size: $large-font-size;
                padding: 0 2rem;
            }
            strong {
                font-size: $large-font-size;
                color: rgb(255, 136, 0);
                padding: 0 2rem;
            }
        }
        .info__tailieu {
            grid-area: tlieu;
            margin: 1rem 0;
            background-color: #fff;
            @include radius-layout();
            @include shadow();
            &--list {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                padding: 0 5%;
                .list--1,
                .list--2,
                .list--3,
                .list--4,
                .list--5,
                .list--6 {
                    width: 45%;
                    margin: 2rem;
                    position: relative;
                    @include radius-layout();
                    @include shadow();
                    &:hover {
                        cursor: pointer;
                    }
                    img {
                        max-height: 35rem;
                        width: 100%;
                        object-fit: cover;
                        transition: all 0.2s linear;
                        @include radius-layout();
                        &:hover {
                            opacity: 0.6;
                        }
                    }
                    span {
                        position: absolute;
                        z-index: 1;
                        left: 50%;
                        bottom: 10%;
                        color: #fff;
                        font-size: $extra-large-font-size;
                        font-weight: $bold-font-weight;
                        transform: translate(-50%, -10%);
                    }
                }
            }
        }
        .info__diachi {
            grid-area: dchi;
            margin: 1rem 0;
            background-color: #fff;
            @include radius-layout();
            @include shadow();
        }
    }
    .home__footer {
        height: 40rem;
        width: 100%;
        background-color: #ccc;
        
        display: flex;
        justify-content: space-around;
        align-items: center;

        &--img{
            // text-align: center;
            img{
                object-fit: cover;
                max-width: 50%;
            }
            h2{
                margin-top: 1.6rem;
                text-transform: uppercase;
                font-weight: $extra-bold-font-weight;
                font-size: $large-font-size;
            }
        }
        
        &--address, &--contact{
            max-width: 70rem;
            h2 {
                text-transform: uppercase;
                font-weight: $extra-bold-font-weight;
                font-size: $large-font-size;
            }
            p{
                font-size: $medium-font-size;
            }
        }
        &--contact{
            display: flex;
            flex-direction: column;
            a{
                font-size: $medium-font-size;
                text-decoration: none;
                padding: 2px 0 2px 4rem;
                margin-right: 2rem;
                color: #000;

                transition: all 0.2 linear;
                position: relative;

                &:hover {
                    color: #4160E8;
                    font-weight: $extra-bold-font-weight;
                }
                .top--icon {
                    color: red;
                    font-size: $large-font-size;

                    position: absolute;
                    top: 5%;
                    left: 0;
                    transform: translateY(-5%);
                }
            }
        }
    }


}
