$linear-color: linear-gradient(to bottom, #8C4AF2, #0F22FD);
$linear-color-hover: linear-gradient(to bottom, #9d68ee, #515ffd);

$color-hover: #ff589e;

// light color
$light-color: #fff;
$light-color-hover: rgb(245, 245, 245);
$light-color-semi: #f1f6f3; 

// paragraph color
$text-color-semi: #9E9EA2;
$text-color:  #9B9AD9;
$title-color: #484860;

// font size
$smaller-font-size: 10.24px;
$small-font-size: 12.8px;
$medium-font-size: 16px;
$large-font-size: 24px;
$extra-large-font-size: 32px;

// font weight
$medium-font-weight: 300;
$semi-bold-font-weight: 400;
$bold-font-weight: 500;
$extra-bold-font-weight: 600;
$extra-large-bold-font-weight: 700;

// border-radius
$radius: 2rem;