<div>
  <div class="container__pheduyet">
    <div class="pheduyet__header">
      <div class="pheduyet__header--nguoigui input">
        <label for="pheduyet__header--nguoigui">Người gửi: 
        <input
          class="w28"
          type="text"
          id="pheduyet__header--nguoigui"
          placeholder="Tên người gửi"
          ng-model="form.nguoiGui"
        />
        </label>
      </div>
      <div class="pheduyet__header--thoigian input">
        <label for="pheduyet__header--thoigian">Thời gian: 
        <input
          class="w28"
          type="text"
          id="pheduyet__header--thoigian"
          placeholder="Thời Gian"
          ng-model="form.thoiGian"
        />
        </label>
      </div>
    </div>
    <div class="pheduyet__content">
      <textarea name="" id="" cols="30" rows="4" ng-model="form.noiDung" placeholder="Nội dung"></textarea>
    </div>
    <!-- TODO:  :lên nút radio nha Tâm , nút 'duyệt' màu xanh dương, nút 'vào hàng chờ' màu đỏ, -->
    <!-- ! 'TÂM' :chừa giúp tui 1 dòng làm nút dowload file nha >_< -->
    <br><br>
    <div class="pheduyet__header--nguoigui">
        <label for="">Phê Duyệt: </label>
        <div class="control">
            <label class="radio">
              <input type="radio" ng-model="form.pheDuyet" name="pheDuyet" ng-value="true"/>
              Duyệt
            </label>
            <label class="radio">
              <input type="radio" ng-model="form.pheDuyet" name="pheDuyet" ng-value="false"/>
              Hàng Chờ
            </label>
          </div>
      </div>
    <div class="pheduyet__footer">
        <div class="btn"><button ng-click="update()">Thay Đổi Trạng Thái</button></div>
    </div>

    <div class="table__header">
      <!-- title -->
      <div class="table__header--title">
        <h2>Danh sách hàng chờ</h2>
      </div>
      <!-- search -->
    </div>

    <div class="sticky__gvu--pheduyet">
      <table>
        <thead>
          <tr>
            <th class="w16">Người gửi</th>
            <th class="w8">Thời gian</th>
            <th>Nội dung</th>
            <th class="w8">Phê duyệt</th>
            <th class="w12">Hành động</th>
          </tr>
        </thead>
        <!-- TODO:dành cho 'THUẬN': chỉnh sửa hiển thị khi không có dữ liệu trong bảng thì hiển thị 1 dòng trống -->
        <tbody>
            <div>
                <tr  ng-repeat="Approve in Approves | filter: { pheDuyet: 'false'}"">
                    {{Approve.maPD}}
                    <td>{{Approve.nguoiGui}}</td>
                    <td>{{Approve.thoiGian|date:'dd/MM/yyyy'}}</td>
                    <td>{{Approve.noiDung}}</td>
                    <td>{{Approve.pheDuyet?'Đã Duyệt':'Chưa Duyệt'}}</td>
                    <td class="btn">
                    <button ng-click="edit(Approve)">
                        <i class="icon--edit bx bxs-edit">Xem</i>
                    </button>
                    </td>
                </tr>
                <!-- <tr>
                  <td>1</td>
                  <td>2</td>
                  <td>3</td>
                  <td>4</td>
                  <td>5</td>
                </tr>
                <tr>
                  <td>1</td>
                  <td>2</td>
                  <td>3</td>
                  <td>4</td>
                  <td>5</td>
                </tr>
                <tr>
                  <td>1</td>
                  <td>2</td>
                  <td>3</td>
                  <td>4</td>
                  <td>5</td>
                </tr>
                <tr>
                  <td>1</td>
                  <td>2</td>
                  <td>3</td>
                  <td>4</td>
                  <td>5</td>
                </tr>
                <tr>
                  <td>1</td>
                  <td>2</td>
                  <td>3</td>
                  <td>4</td>
                  <td>5</td>
                </tr>
                <tr>
                  <td>1</td>
                  <td>2</td>
                  <td>3</td>
                  <td>4</td>
                  <td>5</td>
                </tr>
                <tr>
                  <td>1</td>
                  <td>2</td>
                  <td>3</td>
                  <td>4</td>
                  <td>5</td>
                </tr>
            </div>
            <div>
                <tr>
                    <td>Trống</td>
                </tr>
            </div> -->
        </tbody>
      </table>
    </div>
    <!-- TODO: 'TÂM': sửa lại sao cho 2 cái bảng sẽ giữ nguyên ví trí khi có 4 dòng dữ liệu nha -->
    <!--  -->
    <br><br><br>
    <div class="table__header">
      <div class="table__header--title">
        <h2>Danh sách đã duyệt</h2>
      </div>
    </div>
    <div class="sticky__gvu--pheduyet">
      <table>
        <thead>
          <tr>
            <th class="w16">Người gửi</th>
            <th class="w8">Thời gian</th>
            <th>Nội dung</th>
            <th class="w8">Phê duyệt</th>
            <th class="w12">Hành động</th>
          </tr>
        </thead>
        <tbody ng-repeat="Approve in Approves | filter: { pheDuyet: 'true'}">
          <div>
            <tr>
              {{Approve.maPD}}
              <td>{{Approve.nguoiGui}}</td>
              <td>{{Approve.thoiGian|date:'dd/MM/yyyy'}}</td>
              <td>{{Approve.noiDung}}</td>
              <td>{{Approve.pheDuyet?'Đã Duyệt':'Chưa Duyệt'}}</td>
              <td class="btn">
                <button ng-click="edit(Approve)">
                  <i class="icon--edit bx bxs-edit">Xem</i>
                </button>
              </td>
            </tr>
          </div>
        </tbody>
      </table>
    </div>
  </div>
</div>
