    <div class="table__header">
        <!-- title -->
        <div class="table__header--title">
            <h2>Quản lý giáo viên</h2>
        </div>
        <!-- search -->
        <div class="table__header--search btn--search input">
            <label for="table__header--search">
                <input
                    type="text"
                    id="table__header--search"
                    placeholder="Tìm kiếm"
                />
                <button><i class="bx bx-search-alt"></i></button>
            </label>
        </div>
    </div>

    <!-- ----=================== form =====================---- -->
    <div class="form__edit">
        <div class="input">
            <label for="edit__qllop--malop">
                Mã lớp:
                <input
                    class="w12"
                    type="text"
                    id="edit__qllop--malop"
                    placeholder="Mã lớp"
                />
            </label>
        </div>

        <div class="input">
            <label for="edit__qllop--tenlop">
                Tên lớp:
                <input
                    class="w12"
                    type="text"
                    id="edit__qllop--tenlop"
                    placeholder="Tên lớp"
                />
            </label>
        </div>

        <div class="select ">
            <label for="eidt--Khoi">
                Khối: 
                <select>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </label>
        </div>

        <div class="input">
            <label for="edit__qllop--namhoc">
                Năm học:
                <input
                    class="w12"
                    type="text"
                    id="edit__qllop--namhoc"
                    placeholder="Năm học"
                />
            </label>
        </div>

        <div class="input">
            <label for="edit__qllop--magvien">
                Mã giáo viên
                <input
                    class="w20"
                    type="text"
                    id="edit__qllop--magvien"
                    placeholder="Mã giáo viên"
                />
            </label>
        </div>

        <div class="input">
            <label for="edi__qllop--magvu">
                Mã giáo vụ: 
                <input
                    class="w20"
                    type="text"
                    id="edi__qllop--magvu"
                    placeholder="Mã giáo vụ"
                />
            </label>
        </div>

        <div class="form__edit--btnGroup">
            <div class="btn"><button class="w8"><i class='bx bx-save'></i></button></div>
            <div class="btn"><button class="w8"><i class='bx bx-user-plus' ></i> </button></div>
            <div class="btn"><button class="w8"><i class='bx bx-upvote' ></i></button></div>
            <div class="btn"><button class="w8"><i class='bx bx-trash'></i></button></div>
            <div class="btn"><button class="w8"><i class='bx bx-minus'></i></button></div>
            <div class="btn">
                <button class="w8"><i class='bx bx-folder-plus'></i></button>
            </div>
            <div class="btn">
                <button class="w8"><i class='bx bx-folder-open' ></i></button>
            </div>
        </div>
    </div>
    <!-- ----=================== form =====================---- -->

    <!-- ----============ Table ===========---- -->
    <div class="">
        <div class="sticky">
            <table>
                <thead>
                    <tr>
                        <th class="w12">Mã lớp</th>
                        <th class="w12">Tên lớp</th>
                        <th class="w12">Khối</th>
                        <th class="w12">Năm học</th>
                        <th class="w12">Mã giáo viên</th>
                        <th class="w12">Mã giáo vụ</th>
                        <th class="w8">Hành động</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>lop0001</td>
                        <td>lớp 1a</td>
                        <td>1</td>
                        <td>2021</td> 
                        <td>giaovu1234</td> 
                        <td>giovien234</td> 
                        <td class="btn" >
                            <button ><i class='icon--edit bx bxs-edit'></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
