<div ng-controller="Ministry-ctrl">
  <div class="hieuPho--QLGV">
    <div class="table__header">
      <!-- title -->
      <div class="table__header--title">
        <h2>Quản lý nhân sự</h2>
      </div>
      <!-- search -->
      <div class="table__header--search btn--search input">
        <label for="table__header--search">
          <input
            type="text"
            id="table__header--search"
            placeholder="Tìm kiếm"
            ng-model="seachText"
          />
          <button><i class="bx bx-search-alt"></i></button>
        </label>
      </div>
    </div>

    <!-- ----=================== form =====================---- -->
    <div class="form__edit">
      <div class="input">
        <label for="eidt--magv">
          Mã nhân sự:
          <input
            class="w12"
            type="text"
            id="eidt--magv"
            placeholder="Mã nhân sự"
            ng-model="form.maGiaoVu"
          />
        </label>
      </div>

      <div class="input">
        <label for="edit--tengv">
          Tên nhân sự:
          <input
            class="w20"
            type="text"
            id="edit--tengv"
            placeholder="Tên nhân sự"
            ng-model="form.tenGiaoVu"
          />
        </label>
      </div>

      <div class="input">
        <label for="edit--emaigv">
          Email:
          <input
            class="w28"
            type="text"
            id="edit--emaigv"
            placeholder="Email"
            ng-model="form.email"
          />
        </label>
      </div>

      <div class="input">
        <label for="edit--ngaysinhgv">
          Ngày sinh:
          <input
            class="w12"
            type="text"
            datetime="yyyy-MM-dd HH:mm:ss"
            id="edit--ngaysinhgv"
            placeholder="Ngày sinh"
            ng-model="form.ngaySinh"
          />
        </label>
      </div>

      <div class="input dienthoains">
        <label for="edit--ngaysinhgv">
          Điện thoại:
          <input
            class="w20"
            type="text"
            id="edit--ngaysinhgv"
            placeholder="Điện thoại"
            ng-model="form.sdt"
          />
        </label>
      </div>

      <div class="input diachi">
        <label for="edit--diachi">
          Địa chỉ:
          <input type="text" id="edit--diachi" placeholder="Địa chỉ" ng-model="form.diaChi" />
        </label>
      </div>

      <div class="select gioitinh">
        <label for="eidt--gioitinh">
            Giới tính:
            <select ng-model="form.gioiTinh">
              <option ng-value="true">Nam</option>
              <option ng-value="false">Nữ</option>
            </select>
        </label>
      </div>
        <!-- TODO: 'TÂM' : thiếu input cho chức vụ, ghi chú và hình ảnh -  định dạng giúp tui lại nha-->
        <div class="input dienthoains">
            <label for="edit--ngaysinhgv">
              Chức vụ:
              <input
                class="w12"
                type="text"
                id="edit--ngaysinhgv"
                placeholder="Chức vụ"
                ng-model="form.chucVu"
              />
            </label>
          </div>
          <div class="input dienthoains">
            <label for="edit--ngaysinhgv">
              Ghi chú:
              <input
                class="w20"
                type="text"
                id="edit--ngaysinhgv"
                placeholder="Ghi chú"
                ng-model="form.ghiChu"
              />
            </label>
          </div>
          <div class="input dienthoains">
            <label for="edit--ngaysinhgv">
              Hình:
              <input
                class="w12"
                type="text"
                id="edit--ngaysinhgv"
                placeholder="Hình"
                ng-model="form.hinh"
              />
            </label>
          </div>

      <div class="form__edit--btnGroup">
        <div class="btn">
          <button class="w8"><i class="bx bx-save"></i></button>
        </div>
        <div class="btn">
          <button class="w8" ng-click="create()"><i class="bx bx-user-plus"></i></button>
        </div>
        <div class="btn">
          <button class="w8" ng-click="update()"><i class="bx bx-upvote"></i></button>
        </div>
        <div class="btn">
          <button class="w8" ng-click="delete(form)"><i class="bx bx-trash"></i></button>
        </div>
        <div class="btn">
            <!-- TODO: Kiếm 1 icon reset form khác  -->
          <button class="w8" ng-click="reset()"><i class="bx bx-minus"></i></button>
        </div>
        <div class="btn">
          <!-- <button class="w8"><i class="bx bx-folder-plus"></i></button> -->
          <!-- TODO: TÂM: css nút upload này nha, nút button không được phải dùng input upload-->
          <!-- *input upload* -->
          <input
            type="file"
            onchange="angular.element(this).scope().import(this.files)"
          />
        </div>
        <div class="btn">
          <button class="w8"><i class="bx bx-folder-open"></i></button>
        </div>
      </div>
    </div>
    <!-- ----=================== form =====================---- -->

    <!-- ----============ Table ===========---- -->
    <div class="table">
      <div class="sticky">
        <table>
          <thead>
            <tr>
              <th class="w8">Mã nhân sự</th>
              <th class="w16">Tên nhân sự</th>
              <th class="w8">Chức Vụ</th>
              <th class="w12">Ngày sinh</th>
              <th class="w8">Giới tính</th>
              <th class="w8">Email</th>
              <th class="w8">Số Điện thoái</th>
              <th>Địa chỉ</th>
              <th>Ghi chú</th>
              <th class="">Ảnh</th>
              <th class="w12">Hành động</th>
            </tr>
          </thead>
          <tbody>
              <!-- * orderBy: sắp xếp danh sách theo mã giáo vụ từ nhỏ -> lớn; filter: lọc theo input có ng-model:searchText -->
            <tr data-ng-repeat="ministry in ministrys | orderBy:['maGiaoVu']  | filter:seachText">
              <td id="mahs">{{ministry.maGiaoVu}}</td>
              <td>{{ministry.tenGiaoVu}}</td>
              <td>{{ministry.chucVu}}</td>
              <td>{{ministry.ngaySinh}}</td>
              <td>{{ministry.gioiTinh ?'Nam':'Nữ'}}</td>
              <td>{{ministry.email}}</td>
              <td>{{ministry.sdt}}</td>
              <td>{{ministry.diaChi}}</td>
              <td>{{ministry.ghiChu}}</td>
              <td class="img__table">
                <img ng-src="./assets/images/Images/{{ministry.hinh}}"" alt="{{ministry.hinh}}"/>
              </td>
              <td class="btn">
                <button ng-click="edit(ministry)"><i class="icon--edit bx bxs-edit">Sửa</i></button>
                <!-- <button ng-click="delete(ministry)"><i class="icon--edit bx bxs-edit">xóa</i></button> -->
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
