<div class="thong_ke">
    <div class="thongke_tieude">
        <h1>THỐNG KÊ HỌC SINH</h1>
    </div>
    <div class="thongke_tieude">
        <h1>Số học sinh là {{TongHS}}</h1>
    </div>
    <div class="thongke_tren">
        <div class="thongke_soluong1">
            <h1>Tổng số học sinh khối 1 là:{{tongkhoi1}}</h1>
        </div>
        <div class="thongke_soluong2">
            <h1>Tổng số học sinh khối 2 là:{{tongkhoi1}}</h1>
        </div>
        <div class="thongke_soluong3">
            <h1>Tổng số học sinh khối 3 là:{{tongkhoi1}}</h1>
        </div>
        <div class="thongke_soluong4">
            Tổng số học sinh khối 4 là:{{tongkhoi1}}
        </div>
        <div class="thongke_soluong5">
            Tổng số học sinh khối 5 là:{{tongkhoi1}}
        </div>
    </div>
    <div class="thongke_duoi"></div>
</div>