<!-- <div class="thong_ke">
    <div class="thongke_tieude">
        <h1>THỐNG KÊ HỌC SINH</h1>
    </div>
    <div class="thongke_tieude">
        <h1>Số học sinh là {{TongHS}}</h1>
    </div>
    <div class="thongke_tren">
        <div class="thongke_soluong1">
            <h1>Tổng số học sinh khối 1 là:{{tongkhoi1}}</h1>
        </div>
        <div class="thongke_soluong2">
            <h1>Tổng số học sinh khối 2 là:{{tongkhoi1}}</h1>
        </div>
        <div class="thongke_soluong3">
            <h1>Tổng số học sinh khối 3 là:{{tongkhoi1}}</h1>
        </div>
        <div class="thongke_soluong4">
            Tổng số học sinh khối 4 là:{{tongkhoi1}}
        </div>
        <div class="thongke_soluong5">
            Tổng số học sinh khối 5 là:{{tongkhoi1}}
        </div>
    </div>
    <div class="thongke_duoi"></div>
</div> -->

<div class="thongke">
    <!-- top -->
    <div class="thongke__header">
        <div class="table__header--title">
            <h2>Thống kê</h2>
        </div>
        <div class="thongke__header--btn">
            <div class="select">
                <label for="select-filter">
                    Lọc theo lớp:
                    <select>
                        <option>All</option>
                        <option>Lớp 1</option>
                        <option>Lớp 2</option>
                        <option>Lớp 3</option>
                        <option>Lớp 4</option>
                        <option>Lớp 5</option>
                    </select>
                </label>
            </div>
            <div class="btn"><button>Dowwload</button></div>
        </div>
    </div>
    
    <!--  -->
    <div class="thongke__result">
        <div class="thongke__result--loaihs">
            <h2>Học sinh yếu</h2>
            <p>11</p>
        </div>
        <div class="thongke__result--loaihs">
            <h2>Học sinh trung bình</h2>
            <p>11</p>
        </div>
        <div class="thongke__result--loaihs">
            <h2>Học sinh khá</h2>
            <p>11</p>
        </div>
        <div class="thongke__result--loaihs">
            <h2>Học sinh giỏi</h2>
            <p>11</p>
        </div>
        <div class="thongke__result--loaihs">
            <h2>Học sinh xuất sắc</h2>
            <p><strong>1</strong></p>
        </div>
    </div>
    <div class="thongke__table">
        <!-- ----============ Table ===========---- -->
        <div class="">
            <div class="sticky">
                <table>
                    <thead>
                        <tr>
                            <th>Khối</th>
                            <th>Lớp</th>
                            <th>Mã học SINH</th>
                            <th>Tên học sinh</th>
                            <th>Điểm trung bình</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>1</td>
                            <td>hs001</td>
                            <td>Võ Thị Diễm My</td>
                            <td>9</td>
                        </tr>
                        <!-- <tr
                                    data-ng-repeat="student in students | orderBy:['maHS'] | filter:seachText"
                                >
                                    <td id="mahs">{{student.maHS}}</td>
                                    <td>{{student.tenHS}}</td>
                                    <td class="img__table">
                                        <img
                                        ng-src="./assets/images/Images/{{student.hinh}}""
                                        alt="{{student.hinh}}"/>
                                    </td>
                                    <td>{{student.ngaySinh}}</td>
                                    <td>{{student.gioiTinh?'Nam':'Nữ'}}</td>
                                    <td>{{student.diaChi}}</td>
                                    <td>{{student.ghiChu}}</td>
                                    <td>
                                        {{student.parents.tenPH}}-{{student.sdtphuHuynh}}
                                    </td>
                                    <td class="btn">
                                        <button ng-click="edit(student)">
                                            Sửa</i>
                                        </button>
                                    </td>
                                </tr> -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
