<div class="GiaoVien__HS">
    
        <!-- table header -->
        <div class="table__header">
            <!-- title -->
            <div class="table__header--title">
                <h2>Chuyển giao lớp</h2>
            </div>
            <!-- search -->
            <div class="table__header--search btn--search input">
                <label for="table__header--search">
                    <input
                        type="text"
                        id="table__header--search"
                        placeholder="Tìm kiếm"
                    />
                    <button><i class="bx bx-search-alt"></i></button>
                </label>
            </div>
        </div>

<!-- -------Table------ -->
<div class="table__HS">
    <div class="sticky">
        <table>
            <thead>
                <tr>
                    <th>Mã học sinh</th>
                    <th>Tên học sinh</th>
                    <th>Điểm Học kỳ 1</th>
                    <th>Điểm Học kỳ 2</th>
                    <th>Điểm Học Trung bình</th>
                    <th>Hạnh kiểm</th>
                    <th>Điều kiện</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>HS00001</td>
                    <td>Nguyễn Văn a</td>
                    <td>6</td>
                    <td>7</td>
                    <td>6.5</td>
                    <td>Tốt</td>
                    <td>Được</td>
                </tr>

            </tbody>
        </table>
    </div>
</div>
</div>
