<div class="GiaoVien__HS">
    <!-- table header -->
    <div class="table__header">
        <!-- title -->
        <div class="table__header--title">
            <h2>Điểm danh</h2>
        </div>
        <!-- search -->
        <div class="table__header--search btn--search input">
            <label for="table__header--search">
                <input
                    type="text"
                    id="table__header--search"
                    placeholder="Tìm kiếm"
                />
                <button><i class="bx bx-search-alt"></i></button>
            </label>
        </div>
    </div>

    <!-- -------Table------ -->
    <div class="table__HS">
        <div class="sticky">
            <table id="diemDanh">
                <thead>
                    <tr>
                        <th>Mã học sinh</th>
                        <th>Tên học sinh</th>
                        <th>Ngày</th>
                        <th>Điểm danh</th>
                        <th>khối</th>
                        <th>Lớp</th>
                    </tr>
                </thead>
                <tbody>
                    <tr id="detail-table">
                        <td>HS00001</td>
                        <td>Nguyễn Văn a</td>
                        <td>{{date | date:'dd/MM/yyyy'}}</td>
                        <!-- TODO: fix check box is overwritten on the title row -->
                        <td>
                            <label class="checkbox"
                                >Có mặt
                                <input type="checkbox" />
                                <span class="checkmark"></span>
                            </label>
                            <label class="checkbox"
                                >Vắng
                                <input type="checkbox" />
                                <span class="checkmark"></span>
                            </label>
                        </td>
                        <td>1</td>
                        <td>A1</td>
                    </tr>
                    <tr>
                        <td>HS00001</td>
                        <td>Nguyễn Văn a</td>
                        <td>01/10/2001</td>
                        <td>
                            <label class="checkbox"
                                >Có mặt
                                <input type="checkbox" />
                                <span class="checkmark"></span>
                            </label>
                            <label class="checkbox"
                                >Vắng
                                <input type="checkbox" />
                                <span class="checkmark"></span>
                            </label>
                        </td>
                        <td>1</td>
                        <td>A1</td>
                    </tr>
                    <tr>
                        <td>HS00001</td>
                        <td>Nguyễn Văn a</td>
                        <td>01/10/2001</td>
                        <td>
                            <label class="checkbox"
                                >Có mặt
                                <input type="checkbox" />
                                <span class="checkmark"></span>
                            </label>
                            <label class="checkbox"
                                >Vắng
                                <input type="checkbox" />
                                <span class="checkmark"></span>
                            </label>
                        </td>
                        <td>1</td>
                        <td>A1</td>
                    </tr>
                    <tr>
                        <td>HS00001</td>
                        <td>Nguyễn Văn a</td>
                        <td>01/10/2001</td>
                        <td>
                            <label class="checkbox"
                                >Có mặt
                                <input type="checkbox" />
                                <span class="checkmark"></span>
                            </label>
                            <label class="checkbox"
                                >Vắng
                                <input type="checkbox" />
                                <span class="checkmark"></span>
                            </label>
                        </td>
                        <td>1</td>
                        <td>A1</td>
                    </tr>
                    <tr>
                        <td>HS00001</td>
                        <td>Nguyễn Văn a</td>
                        <td>01/10/2001</td>
                        <td>
                            <label class="checkbox"
                                >Có mặt
                                <input type="checkbox" />
                                <span class="checkmark"></span>
                            </label>
                            <label class="checkbox"
                                >Vắng
                                <input type="checkbox" />
                                <span class="checkmark"></span>
                            </label>
                        </td>
                        <td>1</td>
                        <td>A1</td>
                    </tr>
                    <tr>
                        <td>HS00001</td>
                        <td>Nguyễn Văn a</td>
                        <td>01/10/2001</td>
                        <td>
                            <label class="checkbox"
                                >Có mặt
                                <input type="checkbox" />
                                <span class="checkmark"></span>
                            </label>
                            <label class="checkbox"
                                >Vắng
                                <input type="checkbox" />
                                <span class="checkmark"></span>
                            </label>
                        </td>
                        <td>1</td>
                        <td>A1</td>
                    </tr>
                    <tr>
                        <td>HS00001</td>
                        <td>Nguyễn Văn a</td>
                        <td>01/10/2001</td>
                        <td>
                            <label class="checkbox"
                                >Có mặt
                                <input type="checkbox" />
                                <span class="checkmark"></span>
                            </label>
                            <label class="checkbox"
                                >Vắng
                                <input type="checkbox" />
                                <span class="checkmark"></span>
                            </label>
                        </td>
                        <td>1</td>
                        <td>A1</td>
                    </tr>
                    <tr>
                        <td>HS00001</td>
                        <td>Nguyễn Văn a</td>
                        <td>01/10/2001</td>
                        <td>
                            <label class="checkbox"
                                >Có mặt
                                <input type="checkbox" />
                                <span class="checkmark"></span>
                            </label>
                            <label class="checkbox"
                                >Vắng
                                <input type="checkbox" />
                                <span class="checkmark"></span>
                            </label>
                        </td>
                        <td>1</td>
                        <td>A1</td>
                    </tr>
                    <tr>
                        <td>HS00001</td>
                        <td>Nguyễn Văn a</td>
                        <td>01/10/2001</td>
                        <td>
                            <label class="checkbox"
                                >Có mặt
                                <input type="checkbox" />
                                <span class="checkmark"></span>
                            </label>
                            <label class="checkbox"
                                >Vắng
                                <input type="checkbox" />
                                <span class="checkmark"></span>
                            </label>
                        </td>
                        <td>1</td>
                        <td>A1</td>
                    </tr>
                    <tr>
                        <td>HS00001</td>
                        <td>Nguyễn Văn a</td>
                        <td>01/10/2001</td>
                        <td>
                            <label class="checkbox"
                                >Có mặt
                                <input type="checkbox" />
                                <span class="checkmark"></span>
                            </label>
                            <label class="checkbox"
                                >Vắng
                                <input type="checkbox" />
                                <span class="checkmark"></span>
                            </label>
                        </td>
                        <td>1</td>
                        <td>A1</td>
                    </tr>
                    <tr>
                        <td>HS00001</td>
                        <td>Nguyễn Văn a</td>
                        <td>01/10/2001</td>
                        <td>
                            <label class="checkbox"
                                >Có mặt
                                <input type="checkbox" />
                                <span class="checkmark"></span>
                            </label>
                            <label class="checkbox"
                                >Vắng
                                <input type="checkbox" />
                                <span class="checkmark"></span>
                            </label>
                        </td>
                        <td>1</td>
                        <td>A1</td>
                    </tr>
                    <tr>
                        <td>HS00001</td>
                        <td>Nguyễn Văn a</td>
                        <td>01/10/2001</td>
                        <td>
                            <label class="checkbox"
                                >Có mặt
                                <input type="checkbox" />
                                <span class="checkmark"></span>
                            </label>
                            <label class="checkbox"
                                >Vắng
                                <input type="checkbox" />
                                <span class="checkmark"></span>
                            </label>
                        </td>
                        <td>1</td>
                        <td>A1</td>
                    </tr>
                    <tr>
                        <td>HS00001</td>
                        <td>Nguyễn Văn a</td>
                        <td>01/10/2001</td>
                        <td>
                            <label class="checkbox"
                                >Có mặt
                                <input type="checkbox" />
                                <span class="checkmark"></span>
                            </label>
                            <label class="checkbox"
                                >Vắng
                                <input type="checkbox" />
                                <span class="checkmark"></span>
                            </label>
                        </td>
                        <td>1</td>
                        <td>A1</td>
                    </tr>
                    <tr>
                        <td>HS00001</td>
                        <td>Nguyễn Văn a</td>
                        <td>01/10/2001</td>
                        <td>
                            <label class="checkbox"
                                >Có mặt
                                <input type="checkbox" />
                                <span class="checkmark"></span>
                            </label>
                            <label class="checkbox"
                                >Vắng
                                <input type="checkbox" />
                                <span class="checkmark"></span>
                            </label>
                        </td>
                        <td>1</td>
                        <td>A1</td>
                    </tr>
                    <tr>
                        <td>HS00001</td>
                        <td>Nguyễn Văn a</td>
                        <td>01/10/2001</td>
                        <td>
                            <label class="checkbox"
                                >Có mặt
                                <input type="checkbox" />
                                <span class="checkmark"></span>
                            </label>
                            <label class="checkbox"
                                >Vắng
                                <input type="checkbox" />
                                <span class="checkmark"></span>
                            </label>
                        </td>
                        <td>1</td>
                        <td>A1</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    var today = new Date();
    var date =
        today.getDate() +
        "-" +
        (today.getMonth() + 1) +
        "-" +
        today.getFullYear();
    document.getElementById("date").innerHTML = date;
</script>
