<div class="GiaoVien__HS">
    <!-- table header -->
    <div class="table__header">
        <!-- title -->
        <div class="table__header--title">
            <h2>Giáo viên chủ nhiệm</h2>
        </div>
        <!-- search -->
        <div class="table__header--search btn--search input">
            <label for="table__header--search">
                <input
                    type="text"
                    id="table__header--search"
                    placeholder="Tìm kiếm"
                />
                <button><i class="bx bx-search-alt"></i></button>
            </label>
        </div>
    </div>

    <!-- -------Table------ -->
    <div class="table__HS">
        <div class="sticky">
            <table>
                <thead>
                    <tr>
                        <th>Mã học sinh</th>
                        <th>Tên học sinh</th>
                        <th>Ngày sinh</th>
                        <th>Giới tính</th>
                        <th>Địa chỉ</th>
                        <th>Điểm trung bình</th>
                        <th>khối</th>
                        <th>Lớp</th>
                        <th>Hành động</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>HS00001</td>
                        <td>Nguyễn Văn a</td>
                        <td>01/10/2001</td>
                        <td>Nam</td>
                        <td>Phường n, Quận 2, TP Hồ Chí Minh lore</td>
                        <td>10</td>
                        <td>1</td>
                        <td>A1</td>
                        <td>
                            <button class="edit__diem">
                                <i class="bx bx-street-view"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
