<div ng-controller="Results-ctrl">
    <div class="GiaoVien__HS">
        <!-- table header -->
        <div class="table__header">
            <!-- title -->
            <div class="table__header--title">
                <h2>Quản lý điểm</h2>
            </div>
            <!-- search -->
            <div class="table__header--search btn--search input">
                <label for="table__header--search">
                    <input
                        type="text"
                        id="table__header--search"
                        placeholder="Tìm kiếm"
                        ng-model="seachText"
                    />
                    <button><i class="bx bx-search-alt"></i></button>
                </label>
            </div>
        </div>

        <!-- ----=================== form =====================---- -->
        <div class="form__edit">
            <div class="edit--profile--diem">
                <div class="input key__gvien--diem">
                    <label for="eidt--mahs">
                        Mã học sinh:
                        <input
                            type="text"
                            placeholder="Mã học sinh"
                            ng-model="form.students.maHS"
                        />
                    </label>
                </div>
                <div class="input name-gvien--diem">
                    <label for="edit--tenhs name">
                        Tên học sinh:
                        <input
                            type="text"
                            id="edit--tenhs"
                            placeholder="Tên học sinh"
                            ng-model="form.students.tenHS"
                        />
                    </label>
                </div>
                <div class="input diemkt">
                    <label for="edit--diemkt">
                        Điểm kiểm tra:
                        <input
                            class="w8"
                            type="text"
                            id="edit--diemkt"
                            placeholder="Điểm"
                            ng-model="form.diemKT"
                        />
                    </label>
                </div>
                <div class="diemky-1">
                    <div class="input">
                        <label for="edit--giuaky1">
                            Điểm giữa kỳ I:
                            <input
                                class="w8"
                                type="text"
                                id="edit--giuaky1"
                                placeholder="Điểm"
                                ng-model="form.diemGiuak1"
                            />
                        </label>
                    </div>
                    <div class="input">
                        <label for="edit--cuoiky1">
                            Điểm cuối kỳ I:
                            <input
                                class="w8"
                                type="text"
                                id="edit--cuoiky1"
                                placeholder="Điểm"
                                ng-model="form.diemCuoik1"
                            />
                        </label>
                    </div>
                </div>
                <div class="diemky-2">
                    <div class="input">
                        <label for="edit--giuaky2">
                            Điểm giữa kỳ II:
                            <input
                                class="w8"
                                type="text"
                                id="edit--giuaky2"
                                placeholder="Điểm"
                                ng-model="form.diemGiuak2"
                            />
                        </label>
                    </div>
                    <div class="input">
                        <label for="edit--cuoiky2">
                            Điểm cuối kỳ II:
                            <input
                                class="w8"
                                type="text"
                                id="edit--cuoiky2"
                                placeholder="Điểm"
                                ng-model="form.diemCuoik2"
                            />
                        </label>
                    </div>
                </div>
                
                <div class="form__edit--btnGroup btng">
                    <!-- <div class="btn">
                        <button class="w8" ng-click="create()">
                            <i class="bx bx-user-plus"></i>
                        </button>
                    </div> -->
                    <div class="btn">
                        <button class="w12" ng-click="update()">
                            Cập nhật
                        </button>
                    </div>
                    <div class="btn">
                        <button class="w12" ng-click="reset()">
                            Làm mới
                        </button>
                    </div>
                    <div class="btn">
                        <button class="w12">
                            Thêm file
                        </button>
                    </div>
                    <div class="btn">
                        <button class="w12">
                            Xuất file
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- ----=================== form =====================---- -->

        <!-- -------Table------ -->
        <div class="table__HS">
            <div class="sticky">
                <table>
                    <thead>
                        <tr>
                            <th>Môn học</th>
                            <th>Mã học sinh</th>
                            <th>Tên học sinh</th>
                            <th>Kiểm tra</th>
                            <th>Giữa kỳ I</th>
                            <th>Cuối kỳ I</th>
                            <th>Giữa kỳ II</th>
                            <th>Cuối kỳ II</th>
                            <th>Trung bình</th>
                            <th>Chỉnh sữa</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="Result in Results">
                            <td>{{Result.maKQ}}</td>
                            <td>{{Result.assignment.subjects.tenMon}}</td>
                            <td>{{Result.students.tenHS}}</td>
                            <td>{{Result.diemKT}}</td>
                            <td>{{Result.diemGiuak1}}</td>
                            <td>{{Result.diemCuoik1}}</td>
                            <td>{{Result.diemGiuak2}}</td>
                            <td>{{Result.diemCuoik2}}</td>
                            <td>{{(Result.diemKT + ((Result.diemGiuak1+Result.diemCuoik1)/2) + ((Result.diemGiuak2+Result.diemCuoik2)/2))/3}}</td>
                            <td>
                                <button
                                    ng-click="edit(Result)"
                                    id="open_abc"
                                    class="edit__diem"
                                >
                                    <i class="bx bx-edit"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- -----========= Modal =============------ -->
    <div class="modal_container" id="modal_container">
        <div class="modal">
            <div class="pop__diem">.</div>
            <button id="close__modal"><i class="bx bx-x"></i></button>
        </div>
    </div>
</div>
