<div ng-controller="Student-ctrl">
    <div class="hieuPho--QLGV">
        <div class="table__header">
            <!-- title -->
            <div class="table__header--title">
                <h2>Danh Sách học sinh</h2>
            </div>
            <!-- search -->
            <div class="table__header--search btn--search input">
                <label for="table__header--search">
                    <input type="text" id="table__header--search" placeholder="Tìm kiếm" ng-model="seachText"/>
                    <button><i class="bx bx-search-alt"></i></button>
                </label>
            </div>
        </div>
        <!-- ----=================== form =====================---- -->
        <div class="form__edit" id="content" style="border: solid 1px; padding: 20px; background: #ddd; display: none">
            <div class="input">
                <label for="eidt--mahs">
                    Tên Phụ Huynh
                    <input class="w20" type="text" id="eidt--mahs" placeholder="" 
                    ng-model="form.parents.tenPH"/>
                </label>
            </div>

            <div class="input">
                <label for="edit--tenhs">
                    Số Điện Thoại Liên Hệ
                    <input class="w12" type="text" id="edit--tenhs" placeholder="" 
                    ng-model="form.sdtphuHuynh"/>
                </label>
            </div>

            <div class="input">
                <label for="edit--ngaysinhhs">
                    Mối Quan Hệ với Học Sinh
                    <input class="w12" type="text" id="edit--ngaysinhhs" placeholder="" 
                    ng-model="form.parents.quanHe"/>
                </label>
            </div>

            <div class="input  w34p diachihs">
                <label for="edit--diachihs">
                    Địa chỉ:
                    <input class="w80p" type="text" id="edit--diachihs" placeholder="" 
                    ng-model="form.diaChi"/>
                </label>
            </div>
        </div>
        <!-- ----=================== form =====================---- -->


        <!-- ----============ Table ===========---- -->
        <div class="">
            <div class="sticky">
                <table>
                    <thead>
                        <tr>
                            <th class="w14">Mã học sinh</th>
                            <th class="w16">Tên học sinh</th>
                            <th class="">Ảnh</th>
                            <th class="w12">Ngày sinh</th>
                            <th class="w12">Giới tính</th>
                            <th class="w16">Địa chỉ</th>
                            <th class="w12">Ghi chú</th>
                            <th class="w12">Phụ Huynh</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="student in students | orderBy:['maHS'] | filter:seachText">
                            <td id="mahs">{{student.maHS}}</td>
                            <td>{{student.tenHS}}</td>
                            <td class="img__table">
                                <img
                                ng-src="./assets/images/Images/{{student.hinh}}""
                                alt="{{student.hinh}}"/>
                            </td>
                            <td>{{student.ngaySinh|date:'dd/MM/yyyy'}}</td>
                            <td>{{student.gioiTinh?'Nam':'Nữ'}}</td>
                            <td>{{student.diaChi}}</td>
                            <td>{{student.ghiChu}}</td>
                            <td class="btn">
                                <button ng-click="hienthi(student)">
                                        xem
                                        </a></i></button>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
        
        <!-- ----=================== form =====================---- -->
        <div class="form__edit" id="content" style="display: none">
            <div class="input">
                <label for="eidt--mahs">
                    Tên Phụ Huynh
                    <input class="w20" type="text" id="eidt--mahs" placeholder="Mã học sinh" 
                    ng-model="form.parents.tenPH"/>
                </label>
            </div>

            <div class="input">
                <label for="edit--tenhs">
                    Số Điện Thoại Liên Hệ
                    <input class="w12" type="text" id="edit--tenhs" placeholder="Tên học sinh" 
                    ng-model="form.parents.sdt"/>
                </label>
            </div>

            <div class="input">
                <label for="edit--ngaysinhhs">
                    Mối Quan Hệ với Học Sinh
                    <input class="w12" type="text" id="edit--ngaysinhhs" placeholder="Ngày sinh" 
                    ng-model="form.parents.quanHe"/>
                </label>
            </div>

            <div class="input  w34p diachihs">
                <label for="edit--diachihs">
                    Địa chỉ:
                    <input class="" type="text" id="edit--diachihs" placeholder="Địa chỉ" 
                    ng-model="form.diaChi"/>
                </label>
            </div>
        </div>
        <!-- ----=================== form =====================---- -->
    </div>
</div>
