<div class="GiaoVien__HS">
        <!-- table header -->
        <div class="table__header">
            <!-- title -->
            <div class="table__header--title">
                <h2>Danh sách học sinh</h2>
            </div>
            <!-- search -->
            <div class="table__header--search btn--search input">
                <label for="table__header--search">
                    <input
                        type="text"
                        id="table__header--search"
                        placeholder="Tìm kiếm"
                        ng-model="seachText"
                    />
                    <button><i class="bx bx-search-alt"></i></button>
                </label>
            </div>
    <!-- table header -->
    <div class="table__header">
        <!-- title -->
        <div class="table__header--title">
            <h2>Quản lý học sinh</h2>
        </div>
        <!-- search -->
        <div class="table__header--search btn--search input">
            <label for="table__header--search">
                <input
                    type="text"
                    id="table__header--search"
                    placeholder="Tìm kiếm"
                />
                <button><i class="bx bx-search-alt"></i></button>
            </label>
        </div>
    </div>

    <!-- -------Table------ -->
    <div class="table__HS--DSHS">
        <div class="sticky">
            <table>
                <thead>
                    <tr>
                        <th class="w12">Mã học sinh</th>
                        <th class="w16">Tên học sinh</th>
                        <th class="w8">Lớp</th>
                        <th class="w12">Ngày sinh</th>
                        <th class="w8">Giới tính</th>
                        <th>Địa chỉ</th>
                        <th>Phụ Huynh</th>
                        <th>Ghi chú</th>
                        <th class="w12">Hành động</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="student in students | filter:seachText">
                        <td ng-model="maHS">{{student.maHS}}</td>
                        <td>{{student.tenHS}}</td>
                        <td>{{student.subclass.classroom.tenLop}}</td>
                        <td>{{student.ngaySinh|date:'dd/MM/yyyy'}}</td>
                        <td>{{student.gioiTinh?'Nam':'Nữ'}}</td>
                        <td>{{student.diaChi}}</td>
                        <td>{{student.parents.tenPH}}</td>
                        <td>{{student.ghiChu}}</td>
                        <td class="btn">
                            <button id="open_abc" onclick="popup('${student.maHS}');" value = "{{student.maHS}}">
                                click me
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- ----======================== Modal =============================  --- -->
    <div class="modal_container" id="modal_container">
        <div class="modal">
            <div class="popup__main">
                <!-- main info -->
                <div class="popup__main--info">
                    <!-- img -->
                    <div class="info__img">
                        <img
                            src="https://images.unsplash.com/photo-1635567028232-edf7a7f12cbd?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1974&q=80"
                            alt=""
                        />
                    </div>
                    <!-- textbox -->
                    <div class="textbox">
                        <div class="textbox__profile">
                            <!-- input mã -->
                            <div class="profile profile--code input">
                                <label
                                    class="info--title"
                                    for="info__textbox--code"
                                    >Mã học sinh:
                                </label>
                                <input
                                    type="text"
                                    id="info__textbox--code"
                                    placeholder="Nhập mã học sinh"
                                />
                            </div>
                            <!-- input ten -->
                            <div class="profile profile--name input">
                                <label
                                    class="info--title"
                                    for="info__textbox--name"
                                    >Tên học sinh:
                                </label>
                                <input
                                    type="text"
                                    id="info__textbox--name"
                                    placeholder="Nhập tên học sinh"
                                />
                            </div>
                            <!-- lop -->
                            <div class="profile profile--class input">
                                <label class="info--title" for="subclass--class"
                                    >Lớp:
                                </label>
                                <input
                                    type="text"
                                    id="subclass--class"
                                    placeholder="Nhập lớp"
                                />
                            </div>
                            <!-- input ngay sinh -->
                            <div class="birthdayVSgendar">
                                <div class="profile profile--birthday input">
                                    <label
                                        class="info--title"
                                        for="info__textbox--birthday"
                                        >Ngày sinh:
                                    </label>
                                    <input
                                        type="date"
                                        id="info__textbox--birthday"
                                    />
                                </div>
                                <!-- input gioi tinh -->
                                <div class="profile--gendar select">
                                    <label
                                        class="info--title"
                                        for="info__textbox--gendar"
                                        >Giới tính</label
                                    >
                                    <select name="" id="info__textbox--gendar">
                                        <option value="0">Nam</option>
                                        <option value="1">Nữ</option>
                                    </select>
                                </div>
                            </div>
                            <!-- input dia chi -->
                        </div>
                        <div class="vertiacal--line"></div>
                    </div>
                    <div class="textbox__area">
                        <!-- Địa chỉ -->
                        <div class="profile profile--address input">
                            <label
                                class="info--area"
                                for="info__textbox--address"
                                >Địa chỉ:
                            </label>
                            <textarea
                                id="info__textbox--address"
                                cols="30"
                                rows="5"
                                placeholder="Địa chỉ"
                            ></textarea>
                        </div>
                        <!-- Ghi chú -->
                        <div class="profile profile--note input">
                            <label class="info--area" for="info__textbox--note"
                                >Ghi chú:
                            </label>
                            <textarea
                                id="info__textbox--note"
                                cols="30"
                                rows="5"
                                placeholder="Ghi chú"
                            ></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <button id="close__modal"><i class="bx bx-x"></i></button>
        </div>
    </div>
</div>
