<div class="container-news">
    <div class="news">
        <div class="news__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, earum delectus accusantium quis distinctio tempore voluptatum. Reprehenderit totam nobis sunt, corrupti dignissimos et numquam, quas unde asperiores, cumque quos animi! Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
        </div>
        <div class="news__date">01/10/2001</div>
        <div class="news__button btn">
            <button>
                xem
            </button>
        </div>
    </div>
</div>
