.select {
    label{
        font-size: $medium-font-size;
        margin-right: 1rem;
        font-weight: $bold-font-weight;
    }
    select {
        @include radius-layout();
        border: none;
        height: 3rem;
        min-width: 8rem;
        font-size: $medium-font-size;
        text-align: center;
        @include shadow();
        cursor: pointer;
        &:hover{
            background-color: $light-color-hover;
        }
    }

    option {
        border: none;
    }
}
